<?php
define("COUNTNEWS", 5);

$curPage = Mage::app()->getRequest()->getParam('start');

$allNews = Mage::getModel('crawskernews/news')->getCollection()
    ->addFieldToFilter('status', 1);
       
if (!isset($curPage))
    $curPage = 1;
    
$news = Mage::getModel('crawskernews/news')->getCollection()
    ->addFieldToFilter('status', 1)
    ->setPageSize(COUNTNEWS)
    ->setCurPage($curPage)
    ->setOrder('created_time', 'DESC');
?>

<h1>Новости</h1>
<?php foreach ($news as $item): ?>
    <h2>
        <a href="/news/<?php echo $item->getLink(); ?>" >
            <?php echo $item->getTitle(); ?>
        </a>
    </h2>
<?php endforeach; ?>

<?php 
    if(count($allNews) % COUNTNEWS > 0)
    {
        $page_active = intval(count($allNews)/COUNTNEWS) + 1;
    }
    else
    {
        $page_active = intval(count($allNews)/COUNTNEWS);
    }
?>

<?php if($page_active > 1): ?>

<div class="pagination">
<span class="pagination">
<span class="page_prev"></span>
<?php if($curPage > 1): ?>
<span class="page_prev_active">
<a class="page_active" title="Пред." href="/news?start=<?php echo $curPage-1; ?>">Пред.</a>
</span>
<?php endif; ?>
<?php for($start = 1; $start <= $page_active; $start++): ?>
<?php if($start == $curPage): ?>
<span class="page"><?php echo $start;?></span>
<?php else: ?>
<a class="page_active" href="/news?start=<?php echo $start; ?>" title="<?php echo $start;?>"><?php echo $start;?></a>
<?php endif; ?>
<?php endfor; ?>

<?php if($curPage < $page_active): ?>
<span class="page_next_active">
    <a class="page_active" href="/news?start=<?php echo $curPage+1; ?>" title="След.">След.</a>
</span>
<?php endif; ?>

</span>		
</div>
<?php endif; ?>