<h1><?php echo $newsItem->getTitle(); ?></h1>
<div class="content"><?php echo $newsItem->getNewsContent(); ?></div>

<?php
define("COUNTNEWS", 3);


$news = Mage::getModel('crawskernews/news')->getCollection()
    ->addFieldToFilter('status', 1)
    ->setPageSize(COUNTNEWS)
    ->setCurPage(1)
    ->setOrder('created_time', 'DESC');
?>

<h1>Новости</h1><a href="/news">Все новости</a>
<?php foreach ($news as $item): ?>
    <h2>
        <a href="/news/<?php echo $item->getLink(); ?>" >
            <?php echo $item->getTitle(); ?>
        </a>
    </h2>
<?php endforeach; ?>