<?php
define("COUNTARTICLES", 3);


$articles = Mage::getModel('crawskerarticles/articles')->getCollection()
    ->addFieldToFilter('status', 1)
    ->setPageSize(COUNTARTICLES)
    ->setCurPage(1)
    ->setOrder('created_time', 'DESC');
?>

<h1>Статьи</h1>
<?php foreach ($articles as $item): ?>
    <h2>
        <a href="/articles/<?php echo $item->getLink(); ?>" >
            <?php echo $item->getTitle(); ?>
        </a>
    </h2>
<?php endforeach; ?>

<a href="/articles">Все статьи</a>