<h1><?php echo $articlesItem->getTitle(); ?></h1>
<div class="content"><?php echo $articlesItem->getArticlesContent(); ?></div>

<?php
define("COUNTARTICLES", 3);


$articles = Mage::getModel('crawskerarticles/articles')->getCollection()
    ->addFieldToFilter('status', 1)
    ->setPageSize(COUNTARTICLES)
    ->setCurPage(1)
    ->setOrder('created_time', 'DESC');
?>

<h1>Новости</h1><a href="/articles">Все новости</a>
<?php foreach ($articles as $item): ?>
    <h2>
        <a href="/articles/<?php echo $item->getLink(); ?>" >
            <?php echo $item->getTitle(); ?>
        </a>
    </h2>
<?php endforeach; ?>